<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="py-5">Event Details</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h3>Date</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>{{event.event_date}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h3>Type</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>{{event.event_type}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h3>Summary</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>{{event.event_summary}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h3>Size</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>{{event.event_size}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h3>Details</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>{{event.event_details}}</p>
		</div>
	</div>
</div>